.van-detail-container{
    background-color: antiquewhite;
    width: 60%;
    min-height: 80vh;
    margin: 0 auto;
    margin-top: -20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.van-detail{
    display: block;
}

.van-detail img{
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    height: 650px;
    margin-bottom: 20px;
}

.vandetail-content{
    align-items: end;
    text-align: left;
}

.van-detail i.van-type{
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
    width: 80px;
    display: block;
    border: 1px solid antiquewhite;
    text-align: center;
    align-items: end;
    text-transform: capitalize;
    margin: 0px;
}

.van-detail .vandetail-content .van-name{
    font-size: 30px;
}
.van-detail .vandetail-content p{
    margin: 10px 0px;
}
.van-detail .price{
    font-weight: bold;
}
.back-btn{
    text-decoration: none;
    font-size: 20px;
}

.back-btn span{
    font-size: 30px;
}