.van-list-container{
    background-color: antiquewhite;
    margin-top: -20px;
}

.van-list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
}

.link{
    text-decoration: none;
}
.van-tile{
    background-color: antiquewhite;
    width: 300px;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.van-list img{
    width: 100%;
    border-radius: 5px;
}